body{
    font-family: 'Poppins', sans-serif;
    background-color:#3a3845;
    /* position: relative; */
}
h1{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: rgb(7, 251, 7);
    margin-top: 1%;
    margin-bottom: 2%;
}
h2{
  font-weight: bold;
  color: aliceblue;
  padding-left: 25%;
}
h3{
    font-weight: bold;
  color: aliceblue;
}
/* h6{
    color:rgb(7, 251, 7) ;
} */
p{
    padding-right: 50%;
    padding-left: 25%;
    color:#898699 ;
}
.main container{
    text-align: start;
    margin-left: 30%;
    padding-left: 60%;
}
.first-container{
    text-align: center;
    font-weight: bold;
  color: aliceblue;
  margin-top: 2%;
}
/* .sec-container{
    position: relative;
    right: 10%;

} */
.btn:hover{
    background-color: rgb(7, 251, 7);
}
.btn{
    margin-top: 250%;
    transition:rotate(90deg);
}
 .mid-container{
   padding: 10% 12%;

} 

.row{
    margin-top: 2%;
    /* margin-right: 20%; */
}
